body {
  margin: 0; 
  padding: 0;
  font-family: "Arial Black", Gadget, sans-serif;
  height: 100%;
  width:100%;
}

html {
  height: 100%;
}

.header-bar {
  background-color: rgba(58, 69, 122,1.0);
  height: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 1px;
}

.header-content {
  
  width: 200px;
  margin: auto;
}

.header-text {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bolder;
  margin-left: 5px;
  padding-top: 0px;
  text-shadow:
   -1px -1px 0 #555,  
    1px -1px 0 #555,
    -1px 1px 0 #555,
     1px 1px 0 #555;
}

.header-logo {
  float: left;
  height: 30px;
  margin: 5px;
}

.map {
  overflow: auto;
  height: 100%;
}

.filter-area {
  float: left;
  /*display:inline-block;*/
  background-color: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  font-size: 13px;
  padding: 1px;

  /*position: absolute;
  left: 3px;
  top: 3px;*/
  /* width: 330px; */
  
  z-index: 1; 
}

.filter-area-content {
  
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  height: calc(100vh - 45px);
  overflow-y: scroll;
  
  /*resize: horizontal;*/

  /*height:710px*/

}

.filter-header {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

.filter-separator {
  /*border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  margin: 3px 0px 8px 0px;*/ 
  margin: 20px 0px;
}

.filter-area tr {
  
}

.filter-area th {
  background-color: #DDD;
  border: 1px solid gray;
  padding: 2px 5px;
  text-align: center;
  font-weight: bold;
}

.filter-area td {
  border: 1px solid gray;
  margin: 0px;
  padding: 0px 0px; 
  text-align: center;
}

#filterTable {
  margin: 3px 0px;
}

.selected-filter-row {
  background-color: rgba(58, 69, 122,0.3);
  border-style: solid;
  border-color: rgba(58, 69, 122,0.7);
  border-width: 2px;  
}

#treeSearchBox {
  width: 100%;
  margin-bottom: 2px; 
  margin-top: 2px;
}

ul.fancytree-container {
  width: 100%;
  height: 250px;
  overflow: auto;
  position: relative;
}

span.fancytree-title
{
  font-size: 12px;
}

.map-style-grid {
  display: grid;
  grid-template-columns: 160px 225px;
  grid-gap: 0px;
}

.map-style-label {
  padding: 5px;
}

.map-style-control-column {
  display: block;
  overflow: hidden;
}

.map-style-control {
  width: 100%;
}

input {
  font-size: 11px;
  padding: 0px;
}



.hideden {
  display:none;
}

.overlay {
    position: absolute;
    background-color: rgba(150, 150, 150, 0.3);
    /*dim the background*/
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:black;
    text-align: center;
    z-index: 100;
}

.overlay span {
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

.wrapper {
    position: relative;
}

.loader {
  border: 5px solid #CCC;
  border-radius: 50%; 
  border-top: 5px solid #777;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.map-area {
  overflow: auto;
  height: 100%;
}

.instruction-bar {
  /*position: absolute;
  top:10px;
  left:0;
  right:0;
  margin: 0 auto; */
  margin: 2px 0px 10px 0px;
  padding: 4px 2px;
  width:100%;
  color:black;
  text-align: center;
  z-index: 100;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid rgba(58, 69, 122,1.0);
  border-radius: 5px;
  background: white;
/*
  position: absolute;
  left: 40vw;
  top: 10px;
  width: 20vw; 
  
  
  z-index: 100;
*/
}

.highlight {
  border: 3px solid red;
  padding: 2px 4px;
  border-radius: 4px;
}

.choucas-btn {
  padding: 0px;
}

#startExperiment {
  font-weight: bold;
  font-size: 13px;
}

#tutorial {
  position: absolute;
  top:5px;
  left: 10px;
  z-index: 100;
  background: rgba(255, 255, 255,1.0);
  padding: 4px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12px;
/*
  margin: 2px 0px 10px 0px;
  
  width:100%;
  color:black;
  
  z-index: 100;
  
  
  position: absolute;
  left: 40vw;
  top: 10px;
  width: 20vw; 
  
*/
}

.tutorial-box-highlighted {
  border: 3px solid red;
  border-radius: 10px;
}

.tutorial-box-enabled {
  width: 450px;
  border: 2px solid rgba(58, 69, 122,1.0);
  border-radius: 10px;
}

#tutorialHeader {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 3px;
}

#tutorialText {
  clear: left;
  margin: 12px 3px 5px 3px;
  font-family: "Arial Black", Gadget, sans-serif;
}


